body {
  margin: 0;
  font-family: 'RobotoRegular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf');
}